.home{
    font-size: 12px;         
}
.home__main{
    background-color: var(--colorGrisClaro) ;
    color: var(--colorGrisOscuro);
}
.home__main__section{
width: 90%;
margin: 0 auto;
}
.home__main__section__article{
    margin: 10px 0;
}
.home__main__section__article img{
    width: 100%;
}
.home__main__section__article div{
    /* defino -1px porque sino me queda muy ancho el borde superior */
    border-top: -1px solid var(--colorGrisClaro);
    padding: 15px;
    background-color: white;
    margin: 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.home__main__section__article i{
    display: block;
    font-size: 16px;
    color: var(--colorVerde);
    border: 1px solid var(--colorVerde);
    padding: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #fff;
    position: absolute;
    right: 20px;
    top: -15px;
    
    
}

.home__main__section__article h3{
    margin: 0;
    /* display: inline-block; */
    width: 30%;
}
.home__main__section__article p{
    /* display: inline-block; */
    color: var(--colorVerde);
    width: 70%;
}
.home__main__section__article h5{
    margin: 15px 0 0 0;
    font-weight: 300;
    display: none;
}

/* tablet */
@media (min-width:361px) {
    .home__main__section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .home__main__section h2{
        width: 100%;
    }
    .home__main__section__article h5{
        display: block;
    }
    .home__main__section__article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 48%;
    }
}
/* desktop */
@media (min-width:769px) {
    .home__main__section__article{
        width: 24%;
    }
}
